# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.py[cod]

# folders
docs/
data/
output/

# github environment
.github/

# virtual environment
.venv/

# poetry stuff
poetry.lock

# files
*.png