# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.py[cod]

# vscode
.vscode/

# folders
docs/
output/
graveyard/

# github environment
.github/

# virtual environment
.venv/

# poetry stuff
poetry.lock

# files
*.png